/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.1601)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [JobFindApp]    Script Date: 10/09/1402 05:54:40 ق.ظ ******/
CREATE DATABASE [JobFindApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JobFindApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\JobFindApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JobFindApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\JobFindApp_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JobFindApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JobFindApp]
GO
USE [JobFindApp]
GO
/****** Object:  User [jobapp_admin]    Script Date: 10/09/1402 05:54:40 ق.ظ ******/
CREATE USER [jobapp_admin] FOR LOGIN [jobapp_admin] WITH DEFAULT_SCHEMA=[db_owner]
GO
ALTER ROLE [db_owner] ADD MEMBER [jobapp_admin]
GO
/****** Object:  UserDefinedDataType [db_owner].[jobWatingForVerify]    Script Date: 10/09/1402 05:54:40 ق.ظ ******/
CREATE TYPE [db_owner].[jobWatingForVerify] FROM [int] NOT NULL
GO
/****** Object:  Table [dbo].[adminUsers]    Script Date: 10/09/1402 05:54:40 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adminUsers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user] [nvarchar](max) NOT NULL,
	[pass] [nvarchar](max) NOT NULL,
	[level] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employeeandjobrelation]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employeeandjobrelation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employeeID] [int] NULL,
	[jobId] [int] NULL,
	[jobSatusText] [nvarchar](max) NULL,
	[jobSatusCode] [int] NULL,
	[employerId] [int] NULL,
	[employeeAddByEmployer] [bit] NULL,
	[applyDateInPersian] [nvarchar](max) NULL,
	[employeeApllyDate] [datetime] NULL,
	[requestStatusCode] [int] NULL,
	[requestStatusText] [nvarchar](max) NULL,
	[requestDateOfVerifyOrRejectInPersian] [nvarchar](max) NULL,
	[requestDateOfVerifyOrReject] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employers]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[phoneNumber] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[interests]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[interests](
	[interestid] [int] IDENTITY(1,1) NOT NULL,
	[interestname] [nvarchar](max) NULL,
	[userid] [int] NULL,
	[inerestcompleted] [bit] NULL,
	[verified] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[interestid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobCategory]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dateOfCreation] [nvarchar](100) NULL,
	[creator] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobinterests]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobinterests](
	[jobinterestId] [int] IDENTITY(1,1) NOT NULL,
	[interestjob1] [nvarchar](max) NULL,
	[interestjob2] [nvarchar](max) NULL,
	[interestjob3] [nvarchar](max) NULL,
	[jobtype] [nvarchar](max) NULL,
	[jobtime] [nvarchar](max) NULL,
	[selfjob] [nvarchar](max) NULL,
	[drivinglicence] [nvarchar](max) NULL,
	[extraexplain] [nvarchar](max) NULL,
	[userid] [int] NULL,
	[jobinterestcomplete] [bit] NULL,
	[verified] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[jobinterestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobresume]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobresume](
	[jobId] [int] IDENTITY(1,1) NOT NULL,
	[jobname1] [nvarchar](max) NULL,
	[jobname2] [nvarchar](max) NULL,
	[jobname3] [nvarchar](max) NULL,
	[joboveralllocation1] [nvarchar](max) NULL,
	[joboveralllocation2] [nvarchar](max) NULL,
	[joboveralllocation3] [nvarchar](max) NULL,
	[jobdesc1] [nvarchar](max) NULL,
	[jobdesc2] [nvarchar](max) NULL,
	[jobdesc3] [nvarchar](max) NULL,
	[jobmoddatekar1] [nvarchar](max) NULL,
	[jobmoddatekar2] [nvarchar](max) NULL,
	[jobmoddatekar3] [nvarchar](max) NULL,
	[jobdetaillocation1] [nvarchar](max) NULL,
	[jobdetaillocation2] [nvarchar](max) NULL,
	[jobdetaillocation3] [nvarchar](max) NULL,
	[jobleftreason1] [nvarchar](max) NULL,
	[jobleftreason2] [nvarchar](max) NULL,
	[jobleftreason3] [nvarchar](max) NULL,
	[jobsabeghebimehfile] [varbinary](max) NULL,
	[userid] [int] NULL,
	[jobresumecomplete] [bit] NULL,
	[verified] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[jobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobs]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[jobOnvan] [nvarchar](max) NULL,
	[jobtype] [nvarchar](max) NULL,
	[jobSaateKartype] [nvarchar](max) NULL,
	[jobSaateKarDetail] [nvarchar](max) NULL,
	[jobRoozhayeKari] [nvarchar](max) NULL,
	[jobHoghoghePishnehadi] [nvarchar](max) NULL,
	[jobLocation] [nvarchar](max) NULL,
	[jobTelephoneSabet] [nvarchar](max) NULL,
	[jobCreatorNameAndLastName] [nvarchar](max) NULL,
	[jobMazayaAndNokat] [nvarchar](max) NULL,
	[jobTaiidKonandeh] [nvarchar](max) NULL,
	[jobDateOfVerify] [nvarchar](max) NULL,
	[jobImportanceLevel] [nvarchar](10) NULL,
	[jobAppliersIdIds] [nvarchar](max) NULL,
	[jobAcceptor] [int] NULL,
	[jobFeedbackFromCreator] [nvarchar](max) NULL,
	[jobScoreToAcceptorByCreator] [int] NULL,
	[userid] [int] NULL,
	[jobFinalConditionsAcceptedByBoth] [nvarchar](max) NULL,
	[jobDateOfCreation] [datetime] NULL,
	[jobDateOfCreationInPersian] [nvarchar](max) NULL,
	[jobFeedbackFromCreatorDateInPersian] [nvarchar](max) NULL,
	[jobFeedbackFromCreatorDate] [datetime] NULL,
	[jobStatusCode] [int] NULL,
	[jobStatusText] [nvarchar](max) NULL,
	[verified] [bit] NULL,
	[dateOfVerifyInPersian] [nvarchar](max) NULL,
	[jobDateOfFinish] [nvarchar](max) NULL,
	[jobDateofReject] [datetime] NULL,
	[jobDateOfRejectInPersian] [nvarchar](max) NULL,
	[jobDateOfFinishInPersian] [nvarchar](max) NULL,
	[bankpeygiricode] [nvarchar](max) NULL,
	[employerPayment] [nvarchar](max) NULL,
	[isFeedbackProvided] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[madrakedaneshgahi]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[madrakedaneshgahi](
	[uniCertId] [int] IDENTITY(1,1) NOT NULL,
	[uniCert] [nvarchar](max) NULL,
	[uniCertext] [nvarchar](max) NULL,
	[uniName] [nvarchar](max) NULL,
	[majorName] [nvarchar](max) NULL,
	[tasviremadrak1] [varbinary](max) NULL,
	[tasviremadrak2] [varbinary](max) NULL,
	[tasviremadrak3] [varbinary](max) NULL,
	[userid] [int] NULL,
	[uniCertComplete] [bit] NULL,
	[verified] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[uniCertId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[messagesFromUsers]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messagesFromUsers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NULL,
	[messageTitle] [nvarchar](max) NULL,
	[messageText] [nvarchar](max) NULL,
	[messageDateInPersian] [nvarchar](max) NULL,
	[messageDate] [datetime] NULL,
	[answered] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skills]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skills](
	[skillId] [int] IDENTITY(1,1) NOT NULL,
	[skillType1] [nvarchar](max) NULL,
	[skillType2] [nvarchar](max) NULL,
	[skillType3] [nvarchar](max) NULL,
	[skillType4] [nvarchar](max) NULL,
	[skillLevel1] [nvarchar](max) NULL,
	[skillLevel2] [nvarchar](max) NULL,
	[skillLevel3] [nvarchar](max) NULL,
	[skillLevel4] [nvarchar](max) NULL,
	[noeFaragirieMaharat1] [nvarchar](max) NULL,
	[noeFaragirieMaharat2] [nvarchar](max) NULL,
	[noeFaragirieMaharat3] [nvarchar](max) NULL,
	[noeFaragirieMaharat4] [nvarchar](max) NULL,
	[noeFaragirieMaharatext1] [nvarchar](max) NULL,
	[noeFaragirieMaharatext2] [nvarchar](max) NULL,
	[noeFaragirieMaharatext3] [nvarchar](max) NULL,
	[noeFaragirieMaharatext4] [nvarchar](max) NULL,
	[skillscomplete] [bit] NULL,
	[userid] [int] NULL,
	[sabeghehMaharat1] [nvarchar](max) NULL,
	[sabeghehMaharat2] [nvarchar](max) NULL,
	[sabeghehMaharat3] [nvarchar](max) NULL,
	[sabeghehMaharat4] [nvarchar](max) NULL,
	[verified] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[skillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test1]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test2]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test2](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[xxx] [nvarchar](max) NULL,
	[yyy] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[testtb]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[testtb](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[t1] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tt1]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tt1](
	[id] [int] IDENTITY(1000,1) NOT NULL,
	[age] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userMessages]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userMessages](
	[messageid] [int] IDENTITY(1,1) NOT NULL,
	[messagetext] [nvarchar](max) NULL,
	[messageimportancelevel] [int] NULL,
	[userid] [int] NULL,
	[messageisglobal] [bit] NULL,
	[messagehavebeenseen] [bit] NULL,
	[messageDatefCreationInPersian] [nvarchar](max) NULL,
	[messageDateOfCreation] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[messageid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[phoneNumber] [nvarchar](100) NULL,
	[ipAdddress] [nvarchar](max) NULL,
	[iProfileCompleted] [bit] NULL,
	[name] [nvarchar](100) NULL,
	[lastname] [nvarchar](100) NULL,
	[addresses] [nvarchar](max) NULL,
	[shomarehmelli] [nvarchar](max) NULL,
	[moteahhel] [nvarchar](max) NULL,
	[sabeghehbimeh] [int] NULL,
	[tedadesalhayekarghabli] [int] NULL,
	[mahlahayekareghabli] [nvarchar](max) NULL,
	[shomarehsabet] [nvarchar](max) NULL,
	[minimumhoghoghedarkhasti] [nvarchar](max) NULL,
	[blocked] [bit] NULL,
	[readedmessageNumbers] [int] NULL,
	[unreadedmessageNumbers] [int] NULL,
	[namePedar] [nvarchar](max) NULL,
	[ostanetavallod] [nvarchar](max) NULL,
	[adresekamel] [nvarchar](max) NULL,
	[tarikhetavallod] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[noeKareDarkhasti] [nvarchar](max) NULL,
	[officialimage] [varbinary](max) NULL,
	[tasvireshenasnameh1] [varbinary](max) NULL,
	[tasvireshenasnameh2] [varbinary](max) NULL,
	[tasvirekartemellijolo] [varbinary](max) NULL,
	[tasvirekartemelliposht] [varbinary](max) NULL,
	[shomarehshenasnameh] [nvarchar](max) NULL,
	[melliat] [nvarchar](max) NULL,
	[jensiat] [nvarchar](max) NULL,
	[tedadefarzandan] [nvarchar](max) NULL,
	[sarperastekhanevar] [nvarchar](max) NULL,
	[tedadeafradetahtetakaffol] [nvarchar](max) NULL,
	[ghad] [nvarchar](max) NULL,
	[vazn] [nvarchar](max) NULL,
	[specialill] [nvarchar](max) NULL,
	[sarbaziSayereTozihat] [nvarchar](max) NULL,
	[sarbazi] [nvarchar](max) NULL,
	[isemployer] [int] NULL,
	[usertype] [nvarchar](10) NULL,
	[dateOfCreationPersian] [nvarchar](max) NULL,
	[dateOfCreationInPersian] [nvarchar](max) NULL,
	[dateOfVerifyInPersian] [nvarchar](max) NULL,
	[dateOfCreation] [datetime] NULL,
	[dateOfVerify] [datetime] NULL,
	[dateOfDeleteInPersian] [nvarchar](max) NULL,
	[dateOfDelete] [datetime] NULL,
	[lastvisited] [datetime] NULL,
	[lastvisitedInPersian] [nvarchar](max) NULL,
	[selectedKeyWords] [nvarchar](max) NULL,
	[score] [int] NULL,
	[verified] [bit] NULL,
 CONSTRAINT [PK_tempusers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zabanekhareji]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zabanekhareji](
	[zabanId] [int] IDENTITY(1,1) NOT NULL,
	[zabanName1] [nvarchar](max) NULL,
	[zabanName2] [nvarchar](max) NULL,
	[readingLevel1] [nvarchar](max) NULL,
	[readingLevel2] [nvarchar](max) NULL,
	[writingLevel1] [nvarchar](max) NULL,
	[writingLevel2] [nvarchar](max) NULL,
	[dialogLevel1] [nvarchar](max) NULL,
	[dialogLevel2] [nvarchar](max) NULL,
	[listenLevel1] [nvarchar](max) NULL,
	[listenLevel2] [nvarchar](max) NULL,
	[zabanCert1] [varbinary](max) NULL,
	[zabanCert2] [varbinary](max) NULL,
	[userid] [int] NULL,
	[zabancomplete] [bit] NULL,
	[verified] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[zabanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[adminUsers] ON 

INSERT [dbo].[adminUsers] ([id], [user], [pass], [level]) VALUES (1, N'rameshadmin', N'Rr@654321@!!', 1)
SET IDENTITY_INSERT [dbo].[adminUsers] OFF
SET IDENTITY_INSERT [dbo].[employeeandjobrelation] ON 

INSERT [dbo].[employeeandjobrelation] ([id], [employeeID], [jobId], [jobSatusText], [jobSatusCode], [employerId], [employeeAddByEmployer], [applyDateInPersian], [employeeApllyDate], [requestStatusCode], [requestStatusText], [requestDateOfVerifyOrRejectInPersian], [requestDateOfVerifyOrReject]) VALUES (13, 1014, 18, N'پايان يافته', 4, 1013, 0, N'۱۴۰۲/۹/۶-۳:۲۶:۵۵', CAST(N'2023-11-26T23:56:55.370' AS DateTime), 3, N'رد شده به دليل اتمام موقعيت کاري', N'۱۴۰۲/۹/۷--۲۲:۲۳:۴۴', CAST(N'2023-11-28T18:53:44.973' AS DateTime))
INSERT [dbo].[employeeandjobrelation] ([id], [employeeID], [jobId], [jobSatusText], [jobSatusCode], [employerId], [employeeAddByEmployer], [applyDateInPersian], [employeeApllyDate], [requestStatusCode], [requestStatusText], [requestDateOfVerifyOrRejectInPersian], [requestDateOfVerifyOrReject]) VALUES (14, 1013, 19, N'تاييد شده و منتظر انتخاب کارجو', 1, 1014, 1, N'۱۴۰۲/۹/۶-۳:۴۰:۴۷', CAST(N'2023-11-27T00:10:47.110' AS DateTime), 2, N'رد شده', N'۱۴۰۲/۹/۸--۰:۱۴:۵۸', CAST(N'2023-11-28T20:44:58.477' AS DateTime))
INSERT [dbo].[employeeandjobrelation] ([id], [employeeID], [jobId], [jobSatusText], [jobSatusCode], [employerId], [employeeAddByEmployer], [applyDateInPersian], [employeeApllyDate], [requestStatusCode], [requestStatusText], [requestDateOfVerifyOrRejectInPersian], [requestDateOfVerifyOrReject]) VALUES (15, 1014, 20, N'پايان يافته', 4, 1013, 0, N'۱۴۰۲/۹/۸-۰:۰۰:۲۳', CAST(N'2023-11-28T20:30:23.463' AS DateTime), 3, N'رد شده به دليل اتمام موقعيت کاري', N'۱۴۰۲/۹/۸--۰:۰۶:۲۷', CAST(N'2023-11-28T20:36:27.460' AS DateTime))
SET IDENTITY_INSERT [dbo].[employeeandjobrelation] OFF
SET IDENTITY_INSERT [dbo].[jobCategory] ON 

INSERT [dbo].[jobCategory] ([id], [dateOfCreation], [creator]) VALUES (1, N'2023-10-07 22:21:46', N'sasan')
INSERT [dbo].[jobCategory] ([id], [dateOfCreation], [creator]) VALUES (2, N'989698767', N'hamid')
SET IDENTITY_INSERT [dbo].[jobCategory] OFF
SET IDENTITY_INSERT [dbo].[jobs] ON 

SET IDENTITY_INSERT [dbo].[jobs] OFF
SET IDENTITY_INSERT [dbo].[madrakedaneshgahi] ON 

SET IDENTITY_INSERT [dbo].[madrakedaneshgahi] OFF
SET IDENTITY_INSERT [dbo].[test1] ON 

INSERT [dbo].[test1] ([id], [name]) VALUES (1, N'sasan')
INSERT [dbo].[test1] ([id], [name]) VALUES (2, N'sasan')
SET IDENTITY_INSERT [dbo].[test1] OFF
SET IDENTITY_INSERT [dbo].[test2] ON 

INSERT [dbo].[test2] ([id], [xxx], [yyy]) VALUES (1, N'hamid', NULL)
SET IDENTITY_INSERT [dbo].[test2] OFF
SET IDENTITY_INSERT [dbo].[testtb] ON 

INSERT [dbo].[testtb] ([id], [t1]) VALUES (1, NULL)
INSERT [dbo].[testtb] ([id], [t1]) VALUES (2, N'')
SET IDENTITY_INSERT [dbo].[testtb] OFF
SET IDENTITY_INSERT [dbo].[tt1] ON 

INSERT [dbo].[tt1] ([id], [age]) VALUES (1000, 10)
INSERT [dbo].[tt1] ([id], [age]) VALUES (1001, 11)
SET IDENTITY_INSERT [dbo].[tt1] OFF
SET IDENTITY_INSERT [dbo].[userMessages] ON 

INSERT [dbo].[userMessages] ([messageid], [messagetext], [messageimportancelevel], [userid], [messageisglobal], [messagehavebeenseen], [messageDatefCreationInPersian], [messageDateOfCreation]) VALUES (41, N'درخواست کار شما موفق بود', 0, 1014, 0, 1, N'۱۴۰۲/۹/۶--۴:۱۸:۲۳', CAST(N'2023-11-27T00:48:23.350' AS DateTime))
INSERT [dbo].[userMessages] ([messageid], [messagetext], [messageimportancelevel], [userid], [messageisglobal], [messagehavebeenseen], [messageDatefCreationInPersian], [messageDateOfCreation]) VALUES (42, N'کارجو برای شغل انتخاب شد', 0, 1013, 0, 1, N'۱۴۰۲/۹/۶--۴:۲۵:۴۴', CAST(N'2023-11-27T00:55:44.260' AS DateTime))
INSERT [dbo].[userMessages] ([messageid], [messagetext], [messageimportancelevel], [userid], [messageisglobal], [messagehavebeenseen], [messageDatefCreationInPersian], [messageDateOfCreation]) VALUES (43, N'یابمبدتببنبمن بتب تبنببت', 0, 1013, 0, 1, N'۱۴۰۲/۹/۸--۴:۳۸:۵۷', CAST(N'2023-11-29T01:08:57.023' AS DateTime))
SET IDENTITY_INSERT [dbo].[userMessages] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

SET IDENTITY_INSERT [dbo].[users] OFF
/****** Object:  StoredProcedure [dbo].[admincheckvalidity]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[admincheckvalidity]
@user nvarchar(max),
@pass nvarchar(max)
as
begin
select [user],pass,[level] from adminUsers where [user]=@user and pass=@pass
end
GO
/****** Object:  StoredProcedure [dbo].[admingetJobs]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[admingetJobs]
as
begin
select id,jobOnvan,jobCreatorNameAndLastName,jobDateOfCreationInPersian,jobStatusCode  from jobs order by jobStatusCode, jobDateOfCreation desc
end
GO
/****** Object:  StoredProcedure [dbo].[admingetMessages]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[admingetMessages]
as
begin
select * from messagesFromUsers order by messageDate desc
end
GO
/****** Object:  StoredProcedure [dbo].[admingetUsers]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[admingetUsers]
as
begin
select id,name,lastname,verified,blocked  from users order by verified, dateOfCreation desc
end
GO
/****** Object:  StoredProcedure [dbo].[applyUserForJob]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[applyUserForJob]
@employeeId int,
@jobId int,
@applyDateInPersian nvarchar(max),
@result nvarchar(10) out
as
begin
declare @countres int,@jobStatusCode int,@jobStatusText nvarchar(max),@employerId int
select @jobStatusCode=jobStatuscode,@jobStatusText=jobStatusText,@employerId=userid from jobs where id=@jobId
select @countres=count(*) from employeeandjobrelation where jobId=@jobId and employeeID=@employeeId
if(@countres>0)
begin
set @result='per'
end
else
begin
insert into employeeandjobrelation values( @employeeId,@jobId,@jobStatusText,@jobStatusCode,@employerId,0,@applyDateInPersian,GETUTCDATE(),0,'در انتظار تایید',null,null)
set @result='ok'
end
end
GO
/****** Object:  StoredProcedure [dbo].[blockPersonalInfo]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[blockPersonalInfo]
@userId int
as
begin
update users set blocked=1 where id=@userId
update employeeandjobrelation set requestStatusCode=4,requestStatusText='رد شده به دلیل بلاک شدن کارجو یا کارفرما',requestDateOfVerifyOrReject=getutcdate()
end
GO
/****** Object:  StoredProcedure [dbo].[checkifexistasemployer]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[checkifexistasemployer]
@phone nvarchar(max),@result int out
as
begin
select @result=count(*) from employer where phoneNumber=@phone
end
GO
/****** Object:  StoredProcedure [dbo].[checkifexistasuser]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[checkifexistasuser]
@phone nvarchar(max),@result int out
as
begin
select @result=count(*) from users where phoneNumber=@phone
end

GO
/****** Object:  StoredProcedure [dbo].[closeAndMarkItAsRead]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[closeAndMarkItAsRead]
@messageId int,@userId int
as
begin
update userMessages set messagehavebeenseen=1 where messageid=@messageId
select * from userMessages where userid=@userid order by messagehavebeenseen, messagedateofcreation desc
end
GO
/****** Object:  StoredProcedure [dbo].[findRequestByEmployee]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[findRequestByEmployee]
@employeeId int ,@employeeName nvarchar(max)
as
begin
if(@employeeId<>-1 and  @employeeName<>'n')
begin
select t1.*,t2.[name] as employeeName,t3.[name] as employername,t4.jobOnvan, t4.jobDateOfCreationInPersian as jobcreationdate from employeeandjobrelation as t1 
left join users as t2 on t1.employeeID=t2.id 
left join users as t3 on t1.employerId=t3.id 
left join jobs as t4 on t1.jobId=t4.id where t1.employeeID=@employeeId and (t2.[name] like '%'+@employeeName+'%' or t2.lastname like '%'+@employeeName+'%') order by ISNULL(t1.requestStatusCode,0), employeeApllyDate desc
end
if(@employeeId=-1 and @employeeName<>'n')
begin
select t1.*,t2.[name] as employeeName,t3.[name] as employername,t4.jobOnvan, t4.jobDateOfCreationInPersian as jobcreationdate from employeeandjobrelation as t1 
left join users as t2 on t1.employeeID=t2.id 
left join users as t3 on t1.employerId=t3.id 
left join jobs as t4 on t1.jobId=t4.id where (t2.[name] like '%'+@employeeName+'%' or t2.lastname like '%'+@employeeName+'%') order by ISNULL(t1.requestStatusCode,0), employeeApllyDate desc
end
if(@employeeId<>-1 and @employeeName='n')
begin
select t1.*,t2.[name] as employeeName,t3.[name] as employername,t4.jobOnvan, t4.jobDateOfCreationInPersian as jobcreationdate from employeeandjobrelation as t1 
left join users as t2 on t1.employeeID=t2.id 
left join users as t3 on t1.employerId=t3.id 
left join jobs as t4 on t1.jobId=t4.id where t1.employeeID=@employeeId order by ISNULL(t1.requestStatusCode,0), employeeApllyDate desc
end
else
begin
select t1.*,t2.[name] as employeeName,t3.[name] as employername,t4.jobOnvan, t4.jobDateOfCreationInPersian as jobcreationdate from employeeandjobrelation as t1 
left join users as t2 on t1.employeeID=t2.id 
left join users as t3 on t1.employerId=t3.id 
left join jobs as t4 on t1.jobId=t4.id  order by ISNULL(t1.requestStatusCode,0), employeeApllyDate desc
end
end


GO
/****** Object:  StoredProcedure [dbo].[findRequestByEmployer]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[findRequestByEmployer]
@employerId int ,@employerName nvarchar(max)
as
begin
if(@employerId<>-1 and  @employerName<>'n')
begin
select t1.*,t2.[name] as employeeName,t3.[name] as employername,t4.jobOnvan, t4.jobDateOfCreationInPersian as jobcreationdate from employeeandjobrelation as t1 
left join users as t2 on t1.employeeID=t2.id 
left join users as t3 on t1.employerId=t3.id 
left join jobs as t4 on t1.jobId=t4.id where t1.employerId=@employerId and (t3.[name] like '%'+@employerName+'%' or t3.lastname like '%'+@employerName+'%') order by ISNULL(t1.requestStatusCode,0), employeeApllyDate desc
end
if(@employerId=-1 and @employerName<>'n')
begin
select t1.*,t2.[name] as employeeName,t3.[name] as employername,t4.jobOnvan, t4.jobDateOfCreationInPersian as jobcreationdate from employeeandjobrelation as t1 
left join users as t2 on t1.employeeID=t2.id 
left join users as t3 on t1.employerId=t3.id 
left join jobs as t4 on t1.jobId=t4.id where (t3.[name] like '%'+@employerName+'%' or t3.lastname like '%'+@employerName+'%') order by ISNULL(t1.requestStatusCode,0), employeeApllyDate desc
end
if(@employerId<>-1 and @employerName='n')
begin
select t1.*,t2.[name] as employeeName,t3.[name] as employername,t4.jobOnvan, t4.jobDateOfCreationInPersian as jobcreationdate from employeeandjobrelation as t1 
left join users as t2 on t1.employeeID=t2.id 
left join users as t3 on t1.employerId=t3.id 
left join jobs as t4 on t1.jobId=t4.id where t1.employerId=@employerId order by ISNULL(t1.requestStatusCode,0), employeeApllyDate desc
end
else
begin
select t1.*,t2.[name] as employeeName,t3.[name] as employername,t4.jobOnvan, t4.jobDateOfCreationInPersian as jobcreationdate from employeeandjobrelation as t1 
left join users as t2 on t1.employeeID=t2.id 
left join users as t3 on t1.employerId=t3.id 
left join jobs as t4 on t1.jobId=t4.id  order by ISNULL(t1.requestStatusCode,0), employeeApllyDate desc
end
end
GO
/****** Object:  StoredProcedure [dbo].[findRequestByJob]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[findRequestByJob]
@jobId int ,@jobOnvan nvarchar(max)
as
begin
if(@jobId<>-1 and @jobOnvan<>'n')
begin
select t1.*,t2.[name] as employeeName,t3.[name] as employername,t4.jobOnvan, t4.jobDateOfCreationInPersian as jobcreationdate from employeeandjobrelation as t1 
left join users as t2 on t1.employeeID=t2.id 
left join users as t3 on t1.employerId=t3.id 
left join jobs as t4 on t1.jobId=t4.id where t1.jobId=@jobId and t4.jobOnvan  like '%'+@jobOnvan+'%' order by ISNULL(t1.requestStatusCode,0), employeeApllyDate desc
end
if(@jobId=-1 and @jobOnvan<>'n')
begin
select t1.*,t2.[name] as employeeName,t3.[name] as employername,t4.jobOnvan, t4.jobDateOfCreationInPersian as jobcreationdate from employeeandjobrelation as t1 
left join users as t2 on t1.employeeID=t2.id 
left join users as t3 on t1.employerId=t3.id 
left join jobs as t4 on t1.jobId=t4.id where  t4.jobOnvan  like '%'+@jobOnvan+'%' order by ISNULL(t1.requestStatusCode,0), employeeApllyDate desc
end
if(@jobId<>-1 and @jobOnvan='n')
begin
select t1.*,t2.[name] as employeeName,t3.[name] as employername,t4.jobOnvan, t4.jobDateOfCreationInPersian as jobcreationdate from employeeandjobrelation as t1 
left join users as t2 on t1.employeeID=t2.id 
left join users as t3 on t1.employerId=t3.id 
left join jobs as t4 on t1.jobId=t4.id where t1.jobId=@jobId order by ISNULL(t1.requestStatusCode,0), employeeApllyDate desc
end
else
begin
select t1.*,t2.[name] as employeeName,t3.[name] as employername,t4.jobOnvan, t4.jobDateOfCreationInPersian as jobcreationdate from employeeandjobrelation as t1 
left join users as t2 on t1.employeeID=t2.id 
left join users as t3 on t1.employerId=t3.id 
left join jobs as t4 on t1.jobId=t4.id  order by ISNULL(t1.requestStatusCode,0), employeeApllyDate desc
end
end
GO
/****** Object:  StoredProcedure [dbo].[findUser]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[findUser]
@userId int,@userName nvarchar(max),@userLastName nvarchar(100)
as
begin
if(len(ltrim(rtrim(@userName)))<>0  or len(ltrim(rtrim(@userLastName)))<>0)
begin
if(@userId<>0)
begin
select id,[name],lastname,verified from users where id=@userId and [name] like '%'+@userName+'%' and lastname like '%'+@userLastName+'%'
end
else
begin
select id,[name],lastname,verified from users where [name] like '%'+@userName+'%' and lastname like '%'+@userLastName+'%'
end
end
else
begin
if(@userId<>0)
begin
select id,[name],lastname,verified from users where id=@userId 
end
else
begin
select id,[name],lastname,verified from users 
end
end
end
GO
/****** Object:  StoredProcedure [dbo].[finishJob]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[finishJob]
@jobId int,@jobDateOfFinishInPersian nvarchar(max)
as
begin
update jobs set jobStatusText='پایان یافته',jobStatusCode=4,jobDateOfFinishInPersian=@jobDateOfFinishInPersian,jobDateOfFinish=getutcdate() where id=@jobId
update employeeandjobrelation set jobSatusText='پایان یافته',jobSatusCode=4,requestStatusText='رد شده به دلیل اتمام موقعیت کاری',requestStatusCode=3,requestDateOfVerifyOrRejectInPersian=@jobDateOfFinishInPersian,requestDateOfVerifyOrReject=getutcdate() where jobId=@jobId
end
GO
/****** Object:  StoredProcedure [dbo].[getEmployeePhone]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getEmployeePhone]
@userId int
as
begin
select phoneNumber  from users where id=@userId
end
GO
/****** Object:  StoredProcedure [dbo].[getEmployerPhone]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getEmployerPhone]
@userId int
as
begin
select phoneNumber  from users where id=@userId
end
GO
/****** Object:  StoredProcedure [dbo].[getJobCategories]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getJobCategories]
as
begin
select * from jobCategory
end
GO
/****** Object:  StoredProcedure [dbo].[getJobdetails]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getJobdetails]
@jobId int
as
begin
select * from jobs where id=@jobId
end
GO
/****** Object:  StoredProcedure [dbo].[getPersonlInfoFromAdmin]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getPersonlInfoFromAdmin]
@userid int
as
begin
select * from users as t1
 left join userMessages as t2 on t1.id=t2.userid
   left join madrakedaneshgahi as t3 on t3.userid=t1.id
   left join zabanekhareji as t4 on t4.userid=t1.id
   left join interests as t5 on t5.userid=t1.id
   left join skills as t6 on t6.userid=t1.id
   left join jobresume as t7 on t7.userid=t1.id
   left join jobinterests as t8 on t8.userid=t1.id
   where t1.id=@userid
end
GO
/****** Object:  StoredProcedure [dbo].[getRecentJobs]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getRecentJobs]
as
begin
select *   from jobs where jobStatusCode=1  order by jobDateOfCreation Desc
end
GO
/****** Object:  StoredProcedure [dbo].[getrequests]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getrequests]
as
begin
select t1.*,t2.[name] as employeeName,t3.[name] as employername,t4.jobOnvan, t4.jobDateOfCreationInPersian as jobcreationdate from employeeandjobrelation as t1 
left join users as t2 on t1.employeeID=t2.id 
left join users as t3 on t1.employerId=t3.id 
left join jobs as t4 on t1.jobId=t4.id order by ISNULL(t1.requestStatusCode,0), employeeApllyDate desc
end
GO
/****** Object:  StoredProcedure [dbo].[getSearchedEmployers]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getSearchedEmployers]
@searchedKeyWordslevel1 nvarchar(max),
@searchedKeyWordslevel2 nvarchar(max),
@searchedKeyWordslevel3 nvarchar(max)
as
begin
select t1.*,t2.jobFeedbackFromCreator,t2.jobFeedbackFromCreatorDateInPersian from users as t1
left join jobs as t2 on t1.id=t2.jobAcceptor
where (isnull(t1.verified,0)=1) and (isnull(t1.blocked,0)<>1) and (selectedKeyWords like '%'+@searchedKeyWordslevel1+'%' or 
selectedKeyWords like '%'+@searchedKeyWordslevel2+'%' or 
selectedKeyWords like '%'+@searchedKeyWordslevel3+'%') order by t1.score desc
end
GO
/****** Object:  StoredProcedure [dbo].[getUserJobs]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getUserJobs]
@userid int
as
begin
select t2.[name] as acceptorName,t2.id as acceptorId,t2.moteahhel as acceptorMoteaahel,
t2.selectedKeyWords as acceptorSelectedKeyWords,t1.id,
t4.[name] as employeeName,t4.id as employeeId,t4.moteahhel as employeeMoteahhel, 
t4.selectedKeyWords as employeeSelectedKeyWords,
t5.[name] as employerName,t5.id as employerId,t5.moteahhel as employerMoteahhel, 
t5.selectedKeyWords as employerSelectedKeyWords,
t3.employeeAddByEmployer,t3.applyDateInPersian,
t1.jobStatusText,t1.jobStatusCode,t1.jobonvan,t1.jobtype,t1.jobSaateKartype,t1.jobSaateKarDetail,
t1.jobRoozhayeKari,t1.jobLocation,t1.jobHoghoghePishnehadi,
t1.jobMazayaAndNokat,t1.jobImportanceLevel,t1.jobFeedbackFromCreator,t1.isFeedbackProvided,
t1.jobScoreToAcceptorByCreator,t1.jobFinalConditionsAcceptedByBoth,
t1.jobDateOfCreationInPersian,t1.jobFeedbackFromCreatorDateInPersian,t1.jobCreatorNameAndLastName
 from jobs as t1
left join users as t2 on t2.id=t1.jobAcceptor
left join employeeandjobrelation as t3 on t1.id=t3.jobId
left join users as t4 on t4.id=t3.employeeID
left join users as t5 on t5.id=t3.employerId where t1.userid=@userid order by t1.jobDateOfCreation desc
end
GO
/****** Object:  StoredProcedure [dbo].[getUserMessages]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getUserMessages] 
@userid int
as
begin
select * from userMessages where userid=@userid order by messagehavebeenseen, messagedateofcreation desc
end
GO
/****** Object:  StoredProcedure [dbo].[getUserRequests]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getUserRequests] 
@userid int
as
begin
select
t3.[name] as employerName,t3.id as employerId,t3.moteahhel as employerMoteahhel, 
t3.selectedKeyWords as employerSelectedKeyWords,t1.jobSatusText,t1.jobSatusCode,
t1.employeeAddByEmployer,t1.applyDateInPersian,
t4.jobonvan,t4.jobtype,t4.jobSaateKartype,t4.jobSaateKarDetail,
t4.jobRoozhayeKari,t4.jobLocation,t4.jobHoghoghePishnehadi,
t4.jobMazayaAndNokat,t4.jobImportanceLevel,t4.jobAcceptor,case 
when (t4.jobStatusCode=3 and t4.jobAcceptor=@userid) then 'شما برای این شغل انتخاب شده اید' when  (t4.jobStatusCode=3 and t4.jobAcceptor<>@userid) then 'کارجوی دیگری برای این شغل انتخاب شده است' when (t4.jobStatusCode=4 and t4.jobAcceptor=@userid) then 'شغل به اتمام رسیده . شما کارجوی این شغل بودید' when (t4.jobStatusCode=4 and t4.jobAcceptor<>@userid) then 'شغل به اتمام رسیده. کارجوی دیگری غیر از شما کار را انجام داده است'  else ' ' end as jobAcceptorExplain,
t4.jobDateOfCreationInPersian
 from employeeandjobrelation as t1
left join users as t3 on t3.id=t1.employerId
left join jobs as t4 on t4.id=t1.jobId
 where t1.employeeID=@userid order by t1.employeeApllyDate desc
end
GO
/****** Object:  StoredProcedure [dbo].[getuserRequestsById]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getuserRequestsById]
@requestId int
as
begin
select
t3.[name] as employerName,t3.id as employerId,t3.moteahhel as employerMoteahhel, 
t3.selectedKeyWords as employerSelectedKeyWords,t1.jobSatusText,t1.jobSatusCode,
t1.employeeAddByEmployer,t1.applyDateInPersian,
t4.jobonvan,t4.jobtype,t4.jobSaateKartype,t4.jobSaateKarDetail,
t4.jobRoozhayeKari,t4.jobLocation,t4.jobHoghoghePishnehadi,
t4.jobMazayaAndNokat,t4.jobImportanceLevel,
t4.jobDateOfCreationInPersian
 from employeeandjobrelation as t1
left join users as t3 on t3.id=t1.employerId
left join jobs as t4 on t4.id=t1.jobId
 where t1.id=@requestId order by t1.employeeApllyDate desc
end
GO
/****** Object:  StoredProcedure [dbo].[insertjobCategory]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertjobCategory]
@dateOfCreation nvarchar(100),
@creator nvarchar(100)
as 
begin 
insert into jobCategory values(@dateOfCreation,@creator)
end

GO
/****** Object:  StoredProcedure [dbo].[refreshUser]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[refreshUser]
@phoneNumber nvarchar(100),@ipAdddress nvarchar(100),
@usertype nvarchar(10),@dateOfcreationInPersian nvarchar(max),@lastvisitedInPersian nvarchar(max),
@result varchar(100) out
as
begin
declare @numberOfUsers int
select @numberOfUsers=count(phoneNumber)  from users  where phoneNumber=@phoneNumber
if(@numberOfUsers=1)
begin
declare @iscompleted bit,@previousipAddress nvarchar(max)
select @iscompleted=isnull(iProfileCompleted,0),@previousipAddress=isnull(ipAdddress,'')
 from users where phoneNumber=@phoneNumber
set @previousipAddress=@ipAdddress
update users set ipAdddress=@previousipAddress,usertype=@usertype,
lastVisited=GETUTCDATE(),lastvisitedInPersian=@lastvisitedInPersian where phoneNumber=@phoneNumber
if(@iscompleted=1)
begin
set @result='update2'
select * from users as t1
 left join userMessages as t2 on t1.id=t2.userid
   left join madrakedaneshgahi as t3 on t3.userid=t1.id
   left join zabanekhareji as t4 on t4.userid=t1.id
   left join interests as t5 on t5.userid=t1.id
   left join skills as t6 on t6.userid=t1.id
   left join jobresume as t7 on t7.userid=t1.id
   left join jobinterests as t8 on t8.userid=t1.id
   where t1.phoneNumber=@phoneNumber
end
else
begin
set @result='update1'
select * from users as t1
 left join userMessages as t2 on t1.id=t2.userid
   left join madrakedaneshgahi as t3 on t3.userid=t1.id
   left join zabanekhareji as t4 on t4.userid=t1.id
   left join interests as t5 on t5.userid=t1.id
   left join skills as t6 on t6.userid=t1.id
   left join jobresume as t7 on t7.userid=t1.id
   left join jobinterests as t8 on t8.userid=t1.id
   where t1.phoneNumber=@phoneNumber
end
end
else if(@numberOfUsers=0)
begin
insert into users (phoneNumber,ipAdddress,usertype,dateOfCreation,dateOfCreationInPersian,lastvisited,lastvisitedInPersian)
 values (@phoneNumber,@ipAdddress,@usertype,GETUTCDATE(),@dateOfcreationInPersian,GETUTCDATE(),@lastvisitedInPersian)
set @result='update0'
select * from users as t1
 left join userMessages as t2 on t1.id=t2.userid
   left join madrakedaneshgahi as t3 on t3.userid=t1.id
   left join zabanekhareji as t4 on t4.userid=t1.id
   left join interests as t5 on t5.userid=t1.id
   left join skills as t6 on t6.userid=t1.id
   left join jobresume as t7 on t7.userid=t1.id
   left join jobinterests as t8 on t8.userid=t1.id
   where t1.phoneNumber=@phoneNumber
end
else
begin
update users set blocked=1 where phoneNumber=@phoneNumber
set @result='blocked'
end
end
GO
/****** Object:  StoredProcedure [dbo].[refreshUser1]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[refreshUser1]
@phoneNumber nvarchar(100),@ipAdddress nvarchar(100),
@usertype nvarchar(10),@dateOfcreationInPersian nvarchar(max),@lastvisitedInPersian nvarchar(max),
@result varchar(100) out
as
begin
declare @numberOfUsers int
select @numberOfUsers=count(phoneNumber)  from users  where phoneNumber=@phoneNumber
if(@numberOfUsers=1)
begin
declare @iscompleted bit,@previousipAddress nvarchar(max)
select @iscompleted=isnull(iProfileCompleted,0),@previousipAddress=isnull(ipAdddress,'')
 from users where phoneNumber=@phoneNumber
set @previousipAddress=@ipAdddress
update users set ipAdddress=@previousipAddress,usertype=@usertype,
lastVisited=GETUTCDATE(),lastvisitedInPersian=@lastvisitedInPersian where phoneNumber=@phoneNumber
if(@iscompleted=1)
begin
set @result='update2'
select * from users as t1
 left join userMessages as t2 on t1.id=t2.userid
   left join madrakedaneshgahi as t3 on t3.userid=t1.id
   left join zabanekhareji as t4 on t4.userid=t1.id
   left join interests as t5 on t5.userid=t1.id
   left join skills as t6 on t6.userid=t1.id
   left join jobresume as t7 on t7.userid=t1.id
   left join jobinterests as t8 on t8.userid=t1.id
   where t1.phoneNumber=@phoneNumber
end
else
begin
set @result='update1'
select * from users as t1
 left join userMessages as t2 on t1.id=t2.userid
   left join madrakedaneshgahi as t3 on t3.userid=t1.id
   left join zabanekhareji as t4 on t4.userid=t1.id
   left join interests as t5 on t5.userid=t1.id
   left join skills as t6 on t6.userid=t1.id
   left join jobresume as t7 on t7.userid=t1.id
   left join jobinterests as t8 on t8.userid=t1.id
   where t1.phoneNumber=@phoneNumber
end
end
else if(@numberOfUsers=0)
begin
set @result='notExist'
select * from users as t1
 left join userMessages as t2 on t1.id=t2.userid
   left join madrakedaneshgahi as t3 on t3.userid=t1.id
   left join zabanekhareji as t4 on t4.userid=t1.id
   left join interests as t5 on t5.userid=t1.id
   left join skills as t6 on t6.userid=t1.id
   left join jobresume as t7 on t7.userid=t1.id
   left join jobinterests as t8 on t8.userid=t1.id
   where t1.phoneNumber=@phoneNumber
end
else
begin
update users set blocked=1 where phoneNumber=@phoneNumber
set @result='blocked'
end
end
GO
/****** Object:  StoredProcedure [dbo].[refreshUserFast]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[refreshUserFast]
@phoneNumber nvarchar(100)
as
begin
select * from users as t1
 left join userMessages as t2 on t1.id=t2.userid
   left join madrakedaneshgahi as t3 on t3.userid=t1.id
   left join zabanekhareji as t4 on t4.userid=t1.id
   left join interests as t5 on t5.userid=t1.id
   left join skills as t6 on t6.userid=t1.id
   left join jobresume as t7 on t7.userid=t1.id
   left join jobinterests as t8 on t8.userid=t1.id
   where t1.phoneNumber=@phoneNumber
end
GO
/****** Object:  StoredProcedure [dbo].[registerJob]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[registerJob]
@jobOnvan nvarchar(max),
@jobtype nvarchar(max),
@jobSaateKartype nvarchar(max),
@jobSaateKarDetail nvarchar(max),
@jobRoozhayeKari nvarchar(max),
@jobHoghoghePishnehadi nvarchar(max),
@jobLocation nvarchar(max),
@jobTelephoneSabet nvarchar(max),
@jobCreatorNameAndLastName nvarchar(max),
@jobMazayaAndNokat nvarchar(max),
@jobImportanceLevel nvarchar(10),
@jobStatusCode int,
@jobStatusText nvarchar(max),
@jobDateOfCreationInPersian nvarchar(max),
@userid int,
@result nvarchar(10) out
as
begin
begin try
insert into jobs (jobOnvan,jobtype,jobSaateKartype,jobSaateKarDetail,jobRoozhayeKari,
jobHoghoghePishnehadi,jobLocation,jobTelephoneSabet,jobCreatorNameAndLastName,jobDateOfCreationInPersian,jobDateOfCreation,
jobMazayaAndNokat,jobImportanceLevel,jobStatusCode,jobstatusText,jobAcceptor,userid) values (@jobOnvan,@jobtype,@jobSaateKartype,
@jobSaateKarDetail,@jobRoozhayeKari,@jobHoghoghePishnehadi,@jobLocation,@jobTelephoneSabet,
@jobCreatorNameAndLastName,@jobDateOfCreationInPersian,getutcdate(),@jobMazayaAndNokat,@jobImportanceLevel,
@jobStatusCode,@jobStatusText,0,@userid)
set @result='ok'
end try
begin catch
set @result='error'
end catch
end
GO
/****** Object:  StoredProcedure [dbo].[registerJobFromAdmin]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[registerJobFromAdmin]
@jobOnvan nvarchar(max),
@jobtype nvarchar(max),
@jobSaateKartype nvarchar(max),
@jobSaateKarDetail nvarchar(max),
@jobRoozhayeKari nvarchar(max),
@jobHoghoghePishnehadi nvarchar(max),
@jobLocation nvarchar(max),
@jobTelephoneSabet nvarchar(max),
@jobCreatorNameAndLastName nvarchar(max),
@jobMazayaAndNokat nvarchar(max),
@jobImportanceLevel nvarchar(10),
@jobStatusCode int,
@jobStatusText nvarchar(max),
@jobDateOfCreationInPersian nvarchar(max),
@userid int,
@dateOfVerifyInPersian nvarchar(max),
@jobDateOfFinishInPersian nvarchar(max),
@jobAcceptor int,
@jobFinalConditionsAcceptedByBoth nvarchar(max),
@jobFeedbackFromCreator nvarchar(max),
@jobScoreToAcceptorByCreator int,
@jobFeedbackFromCreatorDateInPersian nvarchar(max),
@result nvarchar(10) out
as
begin
begin try
insert into jobs (jobOnvan,jobtype,jobSaateKartype,jobSaateKarDetail,jobRoozhayeKari,
jobHoghoghePishnehadi,jobLocation,jobTelephoneSabet,jobCreatorNameAndLastName,jobDateOfCreationInPersian,jobDateOfCreation,
jobMazayaAndNokat,jobImportanceLevel,jobStatusCode,jobstatusText,jobAcceptor,userid,
dateOfVerifyInPersian,
jobDateOfFinishInPersian,
jobFinalConditionsAcceptedByBoth,
jobFeedbackFromCreator,
jobScoreToAcceptorByCreator,
jobFeedbackFromCreatorDateInPersian) 
values (@jobOnvan,@jobtype,@jobSaateKartype,
@jobSaateKarDetail,@jobRoozhayeKari,@jobHoghoghePishnehadi,@jobLocation,@jobTelephoneSabet,
@jobCreatorNameAndLastName,@jobDateOfCreationInPersian,getutcdate(),@jobMazayaAndNokat,@jobImportanceLevel,
@jobStatusCode,@jobStatusText,@jobAcceptor,@userid,
@dateOfVerifyInPersian,
@jobDateOfFinishInPersian,
@jobFinalConditionsAcceptedByBoth,
@jobFeedbackFromCreator,
@jobScoreToAcceptorByCreator,
@jobFeedbackFromCreatorDateInPersian)
set @result='ok'
end try
begin catch
set @result='error'
end catch
end
GO
/****** Object:  StoredProcedure [dbo].[registerJobToEmployee]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[registerJobToEmployee]
@jobOnvan nvarchar(max),
@jobtype nvarchar(max),
@jobDateOfCreationInPersian nvarchar(max),
@jobSaateKartype nvarchar(max),
@jobSaateKarDetail nvarchar(max),
@jobRoozhayeKari nvarchar(max),
@jobHoghoghePishnehadi nvarchar(max),
@jobLocation nvarchar(max),
@jobTelephoneSabet nvarchar(max),
@jobCreatorNameAndLastName nvarchar(max),
@jobMazayaAndNokat nvarchar(max),
@jobImportanceLevel nvarchar(10),
@jobStatusCode int,
@jobStatusText nvarchar(max),
@userid int,
@employeeCode int,
@applyDateInPersian nvarchar(max),
@result nvarchar(10) out
as
begin
begin try
insert into jobs (jobOnvan,jobtype,jobSaateKartype,jobSaateKarDetail,jobRoozhayeKari,
jobHoghoghePishnehadi,jobLocation,jobTelephoneSabet,jobCreatorNameAndLastName,jobDateOfCreationInPersian,jobDateOfCreation,
jobMazayaAndNokat,jobImportanceLevel,jobStatusCode,jobStatusText,jobAcceptor,userid) values (@jobOnvan,@jobtype,@jobSaateKartype,
@jobSaateKarDetail,@jobRoozhayeKari,@jobHoghoghePishnehadi,@jobLocation,@jobTelephoneSabet,
@jobCreatorNameAndLastName,@jobDateOfCreationInPersian,getutcdate(),@jobMazayaAndNokat,@jobImportanceLevel,
@jobStatusCode,@jobStatusText,0,@userid)
declare @jobId int
select @jobId=id from (select top 1 * from jobs where userid=@userid order by jobDateOfCreation desc) as t1
insert into employeeandjobrelation values (@employeeCode,@jobId,@jobStatusText,@jobStatusCode,@userid,1,@applyDateInPersian,GETUTCDATE(),0,'در انتظار بررسی',null,null)
set @result='ok'
end try
begin catch
set @result='error'
end catch
end

GO
/****** Object:  StoredProcedure [dbo].[registerOpinion]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[registerOpinion]
@jobId int, @opinion nvarchar(max),@jobFeedbackFromCreatorDateInPersian nvarchar(max)
as
begin
update jobs set jobFeedbackFromCreator=@opinion,isFeedbackProvided=1,jobFeedbackFromCreatorDate=GETUTCDATE(),jobFeedbackFromCreatorDateInPersian=@jobFeedbackFromCreatorDateInPersian where id=@jobId
end
GO
/****** Object:  StoredProcedure [dbo].[rejectJob]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[rejectJob]
@jobId int,@jobDateOfRejectInPersian nvarchar(max)
as
begin
update jobs set verified=0,jobStatusText='رد شده ',jobStatusCode=2, jobDateofReject=getutcdate(), jobDateOfRejectInPersian=@jobDateOfRejectInPersian where id=@jobId
update employeeandjobrelation set jobSatusText='رد شده',jobSatusCode=2,requestStatusCode=3,requestStatusText='رد شده به دلیل عدم تایید شغل',requestDateOfVerifyOrRejectInPersian=@jobDateOfRejectInPersian,requestDateOfVerifyOrReject=GETUTCDATE() where jobId=@jobId
end

GO
/****** Object:  StoredProcedure [dbo].[rejectrequest]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[rejectrequest]
@requestId int,@requestDateOfVerifyOrrejectInPersian nvarchar(max)
as 
begin
update employeeandjobrelation set jobSatusText='تایید شده و منتظر انتخاب کارجو',jobSatusCode=1, requestStatusText='رد شده',requestStatusCode=2,requestDateOfVerifyOrRejectInPersian=@requestDateOfVerifyOrrejectInPersian,requestDateOfVerifyOrReject=GETUTCDATE() where id=@requestId
update jobs set jobAcceptor=null, jobStatusText='تایید شده و منتظر انتخاب کارجو',jobStatusCode=1 where id=(select jobId from employeeandjobrelation where id=@requestId)
end
GO
/****** Object:  StoredProcedure [dbo].[rejectrequeststep1]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[rejectrequeststep1]
@requestId int,@result nvarchar(10) out
as 
begin
declare @requestStatusCode int
select @requestStatusCode=requestStatusCode  from employeeandjobrelation where id=@requestId
if(@requestStatusCode=1)
begin
set @result='pv'
end
else
begin
set @result ='ok'
end
end

GO
/****** Object:  StoredProcedure [dbo].[rejectrequeststep2]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[rejectrequeststep2]
@requestId int,@requestDateOfVerifyOrrejectInPersian nvarchar(max)
as 
begin
update employeeandjobrelation set jobSatusText='تایید شده و منتظر انتخاب کارجو',jobSatusCode=1, requestStatusText='رد شده',requestStatusCode=2,requestDateOfVerifyOrRejectInPersian=@requestDateOfVerifyOrrejectInPersian,requestDateOfVerifyOrReject=GETUTCDATE() where id=@requestId
update jobs set jobAcceptor=null, jobStatusText='تایید شده و منتظر انتخاب کارجو',jobStatusCode=1 where id=(select jobId from employeeandjobrelation where id=@requestId)
end
GO
/****** Object:  StoredProcedure [dbo].[searchedKeyWords]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[searchedKeyWords]
@searchedKeyWords nvarchar(max)
as
begin
select * from users where selectedKeyWords like '%'+@searchedKeyWords+'%'
end
GO
/****** Object:  StoredProcedure [dbo].[sendMessageByUser]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sendMessageByUser]
@userid int,
@messageTitle nvarchar(max),
@messageText nvarchar(max),
@messageDateInPersian nvarchar(max)
as
begin
	insert into messagesFromUsers values(@userid,@messageTitle,@messageText,@messageDateInPersian,GETUTCDATE())
end
GO
/****** Object:  StoredProcedure [dbo].[sendmessagetoemployee]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sendmessagetoemployee]
@employeeId int,@employeeMessageText nvarchar(max),@messageDatefCreationInPersian nvarchar(max)
as
begin
insert into userMessages values (@employeeMessageText,0,@employeeId,0,0,@messageDatefCreationInPersian,getutcdate())
end
GO
/****** Object:  StoredProcedure [dbo].[sendmessagetoemployer]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sendmessagetoemployer]
@employerId int,@employerMessageText nvarchar(max),@messageDatefCreationInPersian nvarchar(max)
as
begin
insert into userMessages values (@employerMessageText,0,@employerId,0,0,@messageDatefCreationInPersian,getutcdate())
end
GO
/****** Object:  StoredProcedure [dbo].[sendmessagetoUser]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sendmessagetoUser]
@messageId int,@employeeId int,@employeeMessageText nvarchar(max),@messageDatefCreationInPersian nvarchar(max)
as
begin
insert into userMessages values (@employeeMessageText,0,@employeeId,0,0,@messageDatefCreationInPersian,getutcdate())
update messagesFromUsers set answered=1 where id=@messageId
end
GO
/****** Object:  StoredProcedure [dbo].[sendMesssageToUser]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sendMesssageToUser]
@userId int,@messageText nvarchar(max),@messageDatefCreationInPersian nvarchar(max)
as
begin
insert into userMessages values (@messageText,0,@userId,0,0,@messageDatefCreationInPersian,GETUTCDATE())
select phoneNumber from users where id=@userId
end
GO
/****** Object:  StoredProcedure [dbo].[unBlockPersonalInfo]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[unBlockPersonalInfo]
@userId int
as
begin
update users set blocked=0 where id=@userId
end
GO
/****** Object:  StoredProcedure [dbo].[updateJobFromAdmin]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updateJobFromAdmin]
@jobId int,
@jobOnvan nvarchar(max),
@jobtype nvarchar(max),
@jobSaateKartype nvarchar(max),
@jobSaateKarDetail nvarchar(max),
@jobRoozhayeKari nvarchar(max),
@jobHoghoghePishnehadi nvarchar(max),
@jobLocation nvarchar(max),
@jobTelephoneSabet nvarchar(max),
@jobCreatorNameAndLastName nvarchar(max),
@jobMazayaAndNokat nvarchar(max),
@jobImportanceLevel nvarchar(10),
@jobDateOfCreationInPersian nvarchar(max),
@userid int,
@dateOfVerifyInPersian nvarchar(max),
@jobDateOfFinishInPersian nvarchar(max),
@jobAcceptor int,
@jobFinalConditionsAcceptedByBoth nvarchar(max),
@jobFeedbackFromCreator nvarchar(max),
@jobScoreToAcceptorByCreator int,
@jobFeedbackFromCreatorDateInPersian nvarchar(max),
@bankpeygiricode nvarchar(max),
@employerPayment nvarchar(max),
@result nvarchar(10) out
as
begin
begin try
declare @countres int
select @countres=count(*) from jobs where id=@jobId
if(@countres>0)
begin
update jobs set jobOnvan=@jobOnvan,jobtype=@jobtype,jobSaateKartype=@jobSaateKartype,jobSaateKarDetail=@jobSaateKarDetail,jobRoozhayeKari=@jobRoozhayeKari,
jobHoghoghePishnehadi=@jobHoghoghePishnehadi,jobLocation=@jobLocation,jobTelephoneSabet=@jobTelephoneSabet,jobCreatorNameAndLastName=@jobCreatorNameAndLastName,
jobDateOfCreationInPersian=@jobDateOfCreationInPersian,jobDateOfCreation=getutcdate(),
jobMazayaAndNokat=@jobMazayaAndNokat,jobImportanceLevel=@jobImportanceLevel,
jobAcceptor=@jobAcceptor,userid=@userid,
dateOfVerifyInPersian=@dateOfVerifyInPersian,
jobDateOfFinishInPersian=@jobDateOfFinishInPersian,
jobFinalConditionsAcceptedByBoth=@jobFinalConditionsAcceptedByBoth,
jobFeedbackFromCreator=@jobFeedbackFromCreator,
jobScoreToAcceptorByCreator=@jobScoreToAcceptorByCreator,
jobFeedbackFromCreatorDateInPersian=@jobFeedbackFromCreatorDateInPersian,employerPayment=@employerPayment,bankpeygiricode=@bankpeygiricode where id=@jobId
end
set @result='ok'
end try
begin catch
set @result='error'
end catch
end
GO
/****** Object:  StoredProcedure [dbo].[updatejobinterests]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updatejobinterests]
@interestjob1 nvarchar(max),
@interestjob2 nvarchar(max),
@interestjob3 nvarchar(max),
@jobtype nvarchar(max),
@jobtime nvarchar(max),
@selfjob nvarchar(max),
@drivinglicence nvarchar(max),
@extraexplain nvarchar(max),
@userid int
as
begin
declare @count int
select @count=count(*) from jobinterests where userid=@userid
if(@count>0)
begin
update jobinterests set interestjob1=@interestjob1, interestjob2=@interestjob2,interestjob3=@interestjob3,
jobtype=@jobtype,jobtime=@jobtime,selfjob=@selfjob,drivinglicence=@drivinglicence,extraexplain=@extraexplain
where userid=@userid
end
else
begin
insert into jobinterests (
interestjob1, interestjob2,interestjob3,
jobtype,jobtime,selfjob,drivinglicence,extraexplain,userid) values (
@interestjob1,@interestjob2,@interestjob3,
@jobtype,@jobtime,@selfjob,@drivinglicence,@extraexplain,@userid)
end
declare @countres int
select @countres=count(jobinterestId) from jobinterests where (interestjob1 is not null or 
interestjob2 is not null or interestjob3 is not null) and @jobtype is not null and jobtime is not null
and selfjob is not null and drivinglicence is not null and userid=@userid
if(@countres>0)
begin
update jobinterests set jobinterestcomplete=1 where userid=@userid
end
else
begin
update jobinterests set jobinterestcomplete=0 where userid=@userid
end
 select * from users as t1
 left join userMessages as t2 on t1.id=t2.userid
   left join madrakedaneshgahi as t3 on t3.userid=t1.id
   left join zabanekhareji as t4 on t4.userid=t1.id
   left join interests as t5 on t5.userid=t1.id
   left join skills as t6 on t6.userid=t1.id
   left join jobresume as t7 on t7.userid=t1.id
   left join jobinterests as t8 on t8.userid=t1.id
   where t1.id=@userid
end

GO
/****** Object:  StoredProcedure [dbo].[updatejobresume]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updatejobresume]
@jobname1 nvarchar(max), @jobname2 nvarchar(max),
@jobname3 nvarchar(max),
@joboveralllocation1 nvarchar(max), @joboveralllocation2 nvarchar(max), @joboveralllocation3 nvarchar(max),
@jobdesc1 nvarchar(max), @jobdesc2 nvarchar(max), @jobdesc3 nvarchar(max),
@jobmoddatekar1 nvarchar(max), @jobmoddatekar2 nvarchar(max), @jobmoddatekar3 nvarchar(max),
@jobdetaillocation1 nvarchar(max), @jobdetaillocation2 nvarchar(max), @jobdetaillocation3 nvarchar(max),
@jobleftreason1 nvarchar(max), @jobleftreason2 nvarchar(max), @jobleftreason3 nvarchar(max),
@jobsabeghebimehfile varbinary(max), @userid int
as
begin
declare @count int
select @count=count(jobId) from jobresume where userid=@userid
if(@count>0)
begin
update jobresume set jobname1=@jobname1,jobname2=@jobname2,jobname3=@jobname3,
joboveralllocation1=@joboveralllocation1,joboveralllocation2=@joboveralllocation2,joboveralllocation3=@joboveralllocation3,
jobdesc1=@jobdesc1,jobdesc2=@jobdesc2,jobdesc3=@jobdesc3,jobmoddatekar1=@jobmoddatekar1,
jobmoddatekar2=@jobmoddatekar2,jobmoddatekar3=@jobmoddatekar3,
jobdetaillocation1=@jobdetaillocation1,jobdetaillocation2=@jobdetaillocation2,jobdetaillocation3=@jobdetaillocation3,
jobleftreason1=@jobleftreason1,jobleftreason2=@jobleftreason2,jobleftreason3=@jobleftreason3 where userid=@userid
end
else
begin
insert into jobresume (jobname1,jobname2,jobname3,
joboveralllocation1,joboveralllocation2,joboveralllocation3,
jobdesc1,jobdesc2,jobdesc3,jobmoddatekar1,jobmoddatekar2,jobmoddatekar3,
jobdetaillocation1,jobdetaillocation2,jobdetaillocation3,
jobleftreason1,jobleftreason2,jobleftreason3,jobsabeghebimehfile,userid)
values (@jobname1,@jobname2,@jobname3,
@joboveralllocation1,@joboveralllocation2,@joboveralllocation3,
@jobdesc1,@jobdesc2,@jobdesc3,@jobmoddatekar1,@jobmoddatekar2,@jobmoddatekar3,
@jobdetaillocation1,@jobdetaillocation2,@jobdetaillocation3,
@jobleftreason1,@jobleftreason2,@jobleftreason3,@jobsabeghebimehfile,@userid)
end
if(@jobsabeghebimehfile is not null)
begin
update jobresume set jobsabeghebimehfile=@jobsabeghebimehfile where userid=@userid
end
declare @countres int
select @countres=count(jobId) from jobresume where (jobname1 is not null and jobdesc1 is not null and joboveralllocation1 is not null and jobdetaillocation1 is not null and jobleftreason1 is not null and jobmoddatekar1 is not null)
or (jobname2 is not null and jobdesc2 is not null and joboveralllocation2 is not null and jobdetaillocation2 is not null and jobleftreason2 is not null and jobmoddatekar2 is not null)
or (jobname3 is not null and jobdesc3 is not null and joboveralllocation3 is not null and jobdetaillocation3 is not null and jobleftreason3 is not null and jobmoddatekar3 is not null)
or (@jobsabeghebimehfile is not null) and userid=@userid
 if(@countres>0)
 begin
 update jobresume set jobresumecomplete=1 where userid=@userid
 end
 else
 begin
 update jobresume set jobresumecomplete=1 where userid=@userid
 end
 select * from users as t1
 left join userMessages as t2 on t1.id=t2.userid
   left join madrakedaneshgahi as t3 on t3.userid=t1.id
   left join zabanekhareji as t4 on t4.userid=t1.id
   left join interests as t5 on t5.userid=t1.id
   left join skills as t6 on t6.userid=t1.id
   left join jobresume as t7 on t7.userid=t1.id
   left join jobinterests as t8 on t8.userid=t1.id
   where t1.id=@userid
end
GO
/****** Object:  StoredProcedure [dbo].[updatePersonalInfo]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updatePersonalInfo]
@melliat nvarchar(max),
@jensiat nvarchar(max),
@tedadefarzandan nvarchar(max),
@sarperastekhanevar nvarchar(max),
@tedadeafradetahtetakaffol nvarchar(max),
@selectedKeyWords nvarchar(max),
@ghad nvarchar(max),
@vazn nvarchar(max),@lastvisitedInPersian nvarchar(max),
@specialill nvarchar(max),@sarbaziSayereTozihat nvarchar(max),@sarbazi nvarchar(max),@name nvarchar(100),@lastName nvarchar(100),@namePedar nvarchar(max),
@tarikhTavallod nvarchar(max),@shomarehShenasnameh nvarchar(max),@ostaneTavallod nvarchar(max),
@address nvarchar(max),@email nvarchar(max),@moteahel nvarchar(max),@shomarehSabet nvarchar(max),
@shomarehmelli nvarchar(max),@noeKareDarkhasti nvarchar(max),@haddeaghalHoghogheDarkhasti nvarchar(max),
@tasvirePersoneli varbinary(max),@tasvireShenasnameh1 varbinary(max),@tasvireShenasnameh2 varbinary(max),
@tasvireKarteMelliJolo varbinary(max),@tasvireKarteMelliPosht varbinary(max),@phoneNumber nvarchar(100)
as 
begin
update users set [name]=@name,lastname=@lastName,namePedar=@namePedar,tarikhetavallod=@tarikhTavallod,
melliat=@melliat,jensiat=@jensiat,specialill=@specialill,tedadefarzandan=@tedadefarzandan,sarperastekhanevar=@sarperastekhanevar,
tedadeafradetahtetakaffol=@tedadeafradetahtetakaffol,ghad=@ghad,vazn=@vazn,sarbazi=@sarbazi,
sarbaziSayereTozihat=@sarbaziSayereTozihat,selectedKeyWords=@selectedKeyWords,shomarehshenasnameh=@shomarehShenasnameh,ostanetavallod=@ostaneTavallod,addresses=@address,
shomarehmelli=@shomarehmelli,email=@email,moteahhel=@moteahel,shomarehsabet=@shomarehSabet,noeKareDarkhasti=@noeKareDarkhasti,
minimumhoghoghedarkhasti=@haddeaghalHoghogheDarkhasti,
lastVisited=GETUTCDATE(),lastvisitedInPersian=@lastvisitedInPersian
where phoneNumber=@phoneNumber

if(@tasvirePersoneli is not null )
begin
update users set officialimage=@tasvirePersoneli where phoneNumber=@phoneNumber
end
if(@tasvireShenasnameh1 is not null )
begin
update users set tasvireshenasnameh1=@tasvireShenasnameh1 where phoneNumber=@phoneNumber
end
if(@tasvireShenasnameh2 is not null )
begin
update users set tasvireshenasnameh2=@tasvireShenasnameh2 where phoneNumber=@phoneNumber
end
if(@tasvireKarteMelliJolo is not null)
begin
update users set tasvirekartemellijolo=@tasvireKarteMelliJolo where phoneNumber=@phoneNumber
end
if(@tasvireKarteMelliPosht is not null )
begin
update users set tasvirekartemelliposht=@tasvireKarteMelliPosht where phoneNumber=@phoneNumber
end
declare @countres int
select @countres=count(id) from users where  [name] is not null and lastname is not null and 
namePedar is not null and tarikhetavallod is not null and 
melliat is not null and jensiat is not null and tedadefarzandan is not null and 
sarperastekhanevar is not null and tedadeafradetahtetakaffol is not null and ghad is not null and 
vazn is not null and sarbazi is not null  and specialill is not null and
shomarehshenasnameh is not null and ostanetavallod is not null and addresses is not null and 
shomarehmelli is not null and email is not null and moteahhel is not null and shomarehsabet is not null and 
noeKareDarkhasti is not null and minimumhoghoghedarkhasti is not null and
officialimage is not null and tasvireshenasnameh1 is not null and tasvireshenasnameh2 is not null and
tasvirekartemellijolo is not null and tasvirekartemelliposht is not null and phoneNumber=@phoneNumber
if(@countres>0)
begin
update users set iProfileCompleted=1 where phoneNumber=@phoneNumber
end
else
begin
update users set iProfileCompleted=0 where phoneNumber=@phoneNumber
end
select * from users as t1
 left join userMessages as t2 on t1.id=t2.userid
   left join madrakedaneshgahi as t3 on t3.userid=t1.id
   left join zabanekhareji as t4 on t4.userid=t1.id
   left join interests as t5 on t5.userid=t1.id
   left join skills as t6 on t6.userid=t1.id
   left join jobresume as t7 on t7.userid=t1.id
   left join jobinterests as t8 on t8.userid=t1.id
   where t1.phoneNumber=@phoneNumber
end
GO
/****** Object:  StoredProcedure [dbo].[updatePersonalInfoFromAdmin]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updatePersonalInfoFromAdmin]
@melliat nvarchar(max),
@jensiat nvarchar(max),
@tedadefarzandan nvarchar(max),
@sarperastekhanevar nvarchar(max),
@tedadeafradetahtetakaffol nvarchar(max),
@selectedKeyWords nvarchar(max),
@ghad nvarchar(max),
@vazn nvarchar(max),@lastvisitedInPersian nvarchar(max),
@specialill nvarchar(max),@sarbaziSayereTozihat nvarchar(max),@sarbazi nvarchar(max),@name nvarchar(100),@lastName nvarchar(100),@namePedar nvarchar(max),
@tarikhTavallod nvarchar(max),@shomarehShenasnameh nvarchar(max),@ostaneTavallod nvarchar(max),
@address nvarchar(max),@email nvarchar(max),@moteahel nvarchar(max),@shomarehSabet nvarchar(max),
@shomarehmelli nvarchar(max),@noeKareDarkhasti nvarchar(max),@haddeaghalHoghogheDarkhasti nvarchar(max),
@tasvirePersoneli varbinary(max),@tasvireShenasnameh1 varbinary(max),@tasvireShenasnameh2 varbinary(max),
@tasvireKarteMelliJolo varbinary(max),@tasvireKarteMelliPosht varbinary(max),@phoneNumber nvarchar(100),@userId int,@dateOfCreationInPersian nvarchar(max)
as 
begin
if(@userId<>-1)
begin
update users set [name]=@name,lastname=@lastName,namePedar=@namePedar,tarikhetavallod=@tarikhTavallod,
melliat=@melliat,jensiat=@jensiat,specialill=@specialill,tedadefarzandan=@tedadefarzandan,sarperastekhanevar=@sarperastekhanevar,
tedadeafradetahtetakaffol=@tedadeafradetahtetakaffol,ghad=@ghad,vazn=@vazn,sarbazi=@sarbazi,
sarbaziSayereTozihat=@sarbaziSayereTozihat,selectedKeyWords=@selectedKeyWords,shomarehshenasnameh=@shomarehShenasnameh,ostanetavallod=@ostaneTavallod,addresses=@address,
shomarehmelli=@shomarehmelli,email=@email,moteahhel=@moteahel,shomarehsabet=@shomarehSabet,noeKareDarkhasti=@noeKareDarkhasti,
minimumhoghoghedarkhasti=@haddeaghalHoghogheDarkhasti,
lastVisited=GETUTCDATE(),lastvisitedInPersian=@lastvisitedInPersian
where phoneNumber=@phoneNumber

if(@tasvirePersoneli is not null )
begin
update users set officialimage=@tasvirePersoneli where phoneNumber=@phoneNumber
end
if(@tasvireShenasnameh1 is not null )
begin
update users set tasvireshenasnameh1=@tasvireShenasnameh1 where phoneNumber=@phoneNumber
end
if(@tasvireShenasnameh2 is not null )
begin
update users set tasvireshenasnameh2=@tasvireShenasnameh2 where phoneNumber=@phoneNumber
end
if(@tasvireKarteMelliJolo is not null)
begin
update users set tasvirekartemellijolo=@tasvireKarteMelliJolo where phoneNumber=@phoneNumber
end
if(@tasvireKarteMelliPosht is not null )
begin
update users set tasvirekartemelliposht=@tasvireKarteMelliPosht where phoneNumber=@phoneNumber
end
end
else
begin
insert into users (phoneNumber,usertype,dateOfCreation,dateOfCreationInPersian)
 values (@phoneNumber,2,GETUTCDATE(),@dateOfCreationInPersian)
 update users set [name]=@name,lastname=@lastName,namePedar=@namePedar,tarikhetavallod=@tarikhTavallod,
melliat=@melliat,jensiat=@jensiat,specialill=@specialill,tedadefarzandan=@tedadefarzandan,sarperastekhanevar=@sarperastekhanevar,
tedadeafradetahtetakaffol=@tedadeafradetahtetakaffol,ghad=@ghad,vazn=@vazn,sarbazi=@sarbazi,
sarbaziSayereTozihat=@sarbaziSayereTozihat,selectedKeyWords=@selectedKeyWords,shomarehshenasnameh=@shomarehShenasnameh,ostanetavallod=@ostaneTavallod,addresses=@address,
shomarehmelli=@shomarehmelli,email=@email,moteahhel=@moteahel,shomarehsabet=@shomarehSabet,noeKareDarkhasti=@noeKareDarkhasti,
minimumhoghoghedarkhasti=@haddeaghalHoghogheDarkhasti,
lastVisited=GETUTCDATE(),lastvisitedInPersian=@lastvisitedInPersian
where phoneNumber=@phoneNumber

if(@tasvirePersoneli is not null )
begin
update users set officialimage=@tasvirePersoneli where phoneNumber=@phoneNumber
end
if(@tasvireShenasnameh1 is not null )
begin
update users set tasvireshenasnameh1=@tasvireShenasnameh1 where phoneNumber=@phoneNumber
end
if(@tasvireShenasnameh2 is not null )
begin
update users set tasvireshenasnameh2=@tasvireShenasnameh2 where phoneNumber=@phoneNumber
end
if(@tasvireKarteMelliJolo is not null)
begin
update users set tasvirekartemellijolo=@tasvireKarteMelliJolo where phoneNumber=@phoneNumber
end
if(@tasvireKarteMelliPosht is not null )
begin
update users set tasvirekartemelliposht=@tasvireKarteMelliPosht where phoneNumber=@phoneNumber
end
end
declare @countres int
select @countres=count(id) from users where  [name] is not null and lastname is not null and 
namePedar is not null and tarikhetavallod is not null and 
melliat is not null and jensiat is not null and tedadefarzandan is not null and 
sarperastekhanevar is not null and tedadeafradetahtetakaffol is not null and ghad is not null and 
vazn is not null and sarbazi is not null  and specialill is not null and
shomarehshenasnameh is not null and ostanetavallod is not null and addresses is not null and 
shomarehmelli is not null and email is not null and moteahhel is not null and shomarehsabet is not null and 
noeKareDarkhasti is not null and minimumhoghoghedarkhasti is not null and
officialimage is not null and tasvireshenasnameh1 is not null and tasvireshenasnameh2 is not null and
tasvirekartemellijolo is not null and tasvirekartemelliposht is not null and phoneNumber=@phoneNumber
if(@countres>0)
begin
update users set iProfileCompleted=1 where phoneNumber=@phoneNumber
end
else
begin
update users set iProfileCompleted=0 where phoneNumber=@phoneNumber
end
select * from users as t1
 left join userMessages as t2 on t1.id=t2.userid
   left join madrakedaneshgahi as t3 on t3.userid=t1.id
   left join zabanekhareji as t4 on t4.userid=t1.id
   left join interests as t5 on t5.userid=t1.id
   left join skills as t6 on t6.userid=t1.id
   left join jobresume as t7 on t7.userid=t1.id
   left join jobinterests as t8 on t8.userid=t1.id
   where t1.phoneNumber=@phoneNumber
end
GO
/****** Object:  StoredProcedure [dbo].[updateskills]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updateskills]
@skillType1 nvarchar(max),@skillType2 nvarchar(max),@skillType3 nvarchar(max),
@skillType4 nvarchar(max),@skillLevel1 nvarchar(max),@skillLevel2 nvarchar(max),
@skillLevel3 nvarchar(max),@skillLevel4 nvarchar(max),
@sabeghehMaharat1 nvarchar(max),@sabeghehMaharat2 nvarchar(max),@sabeghehMaharat3 nvarchar(max),@sabeghehMaharat4 nvarchar(max),
@noeFaragirieMaharat1 nvarchar(max),
@noeFaragirieMaharat2 nvarchar(max),@noeFaragirieMaharat3 nvarchar(max),
@noeFaragirieMaharat4 nvarchar(max),@noeFaragirieMaharatext1 nvarchar(max),
@noeFaragirieMaharatext2 nvarchar(max),@noeFaragirieMaharatext3 nvarchar(max),
@noeFaragirieMaharatext4 nvarchar(max),@userid int
as
begin
declare @count int
select @count=count(skillId) from skills where userid=@userid
if(@count>0)
begin
update skills set skillType1=@skillType1,skillType2=@skillType2,skillType3=@skillType3,skillType4=@skillType4,
skillLevel1=@skillLevel1,skillLevel2=@skillLevel2,skillLevel3=@skillLevel3,skillLevel4=@skillLevel4,
sabeghehMaharat1=@sabeghehMaharat1,sabeghehMaharat2=@sabeghehMaharat2,sabeghehMaharat3=@sabeghehMaharat3,sabeghehMaharat4=@sabeghehMaharat4,
noeFaragirieMaharat1=@noeFaragirieMaharat1,noeFaragirieMaharat2=@noeFaragirieMaharat2,
noeFaragirieMaharat3=@noeFaragirieMaharat3,noeFaragirieMaharat4=noeFaragirieMaharat4,
noeFaragirieMaharatext1=@noeFaragirieMaharatext1,noeFaragirieMaharatext2=@noeFaragirieMaharatext2,
noeFaragirieMaharatext3=@noeFaragirieMaharatext3,noeFaragirieMaharatext4=@noeFaragirieMaharatext4
where userid=@userid
end
else
begin
insert into skills (skillType1,skillType2,skillType3,skillType4,
skillLevel1,skillLevel2,skillLevel3,skillLevel4,
sabeghehMaharat1,sabeghehMaharat2,sabeghehMaharat3,sabeghehMaharat4,
noeFaragirieMaharat1,noeFaragirieMaharat2,noeFaragirieMaharat3,noeFaragirieMaharat4,
noeFaragirieMaharatext1,noeFaragirieMaharatext2,noeFaragirieMaharatext3,noeFaragirieMaharatext4,userid)
values (@skillType1,@skillType2,@skillType3,@skillType4,@skillLevel1,@skillLevel2,
@skillLevel3,@skillLevel4,
@sabeghehMaharat1,@sabeghehMaharat2,@sabeghehMaharat3,@sabeghehMaharat4,
@noeFaragirieMaharat1,@noeFaragirieMaharat2,@noeFaragirieMaharat3,
@noeFaragirieMaharat4,@noeFaragirieMaharatext1,@noeFaragirieMaharatext2,@noeFaragirieMaharatext3,
@noeFaragirieMaharatext4,@userid)
end
declare @countres int
select @countres=count(skillId) from skills where (skillType1 is not null and skillLevel1 is not null and sabeghehMaharat1 is not null and
noeFaragirieMaharat1 is not null) or(
skillType2 is not null and   skillLevel2 is not null and sabeghehMaharat2 is not null and noeFaragirieMaharat2 is not null )or 
(skillType3 is not null and skillLevel3 is not null and sabeghehMaharat3 is not null and noeFaragirieMaharat3 is not null) or
 (skillType4 is not null and skillLevel4 is not null and sabeghehMaharat4 is not null  and noeFaragirieMaharat4 is not null)
 and userid=@userid
 if(@countres>0)
 begin
 update skills set skillscomplete=1 where userid=@userid
 end
 else
 begin
 update skills set skillscomplete=0 where userid=@userid
 end
 select * from users as t1
 left join userMessages as t2 on t1.id=t2.userid
   left join madrakedaneshgahi as t3 on t3.userid=t1.id
   left join zabanekhareji as t4 on t4.userid=t1.id
   left join interests as t5 on t5.userid=t1.id
   left join skills as t6 on t6.userid=t1.id
   left join jobresume as t7 on t7.userid=t1.id
   left join jobinterests as t8 on t8.userid=t1.id
   where t1.id=@userid
end
GO
/****** Object:  StoredProcedure [dbo].[updateunicert]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updateunicert]
 @uniCert nvarchar(max),@uniCertext nvarchar(max),@uniName nvarchar(max),@majorName nvarchar(max),
 @tasviremadrak1 varbinary(max),@tasviremadrak2 varbinary(max),@tasviremadrak3 varbinary(max),@userid int
as
begin
declare @ifUserUniExist bit
select @ifUserUniExist=count(*) from madrakedaneshgahi where userid=@userid
if(@ifUserUniExist>0)
begin
update madrakedaneshgahi set uniCert=@uniCert,uniCertext=@uniCertext,
uniName=@uniName,majorName=@majorName where userid=@userid
end
else
begin
insert into madrakedaneshgahi (uniCert,uniCertext,uniName,majorName,userid)  values (@uniCert,@uniCertext,@uniName,@majorName,@userid)
end
if(@tasviremadrak1 is not null )
begin
update madrakedaneshgahi set tasviremadrak1=@tasviremadrak1 where userid=@userid
end
if(@tasviremadrak2 is not null )
begin
update madrakedaneshgahi set tasviremadrak2=@tasviremadrak2 where userid=@userid
end
if(@tasviremadrak3 is not null )
begin
update madrakedaneshgahi set tasviremadrak3=@tasviremadrak3 where userid=@userid
end
declare @countres int
select @countres=count(uniCertId) from madrakedaneshgahi where 
uniCertId is not null and uniCert is not null and
uniName is not null and majorName is not null and 
(tasviremadrak1 is not null or tasviremadrak2 is not null or tasviremadrak3 is not null) and userid=@userid
if(@countres>0)
begin
update madrakedaneshgahi set uniCertComplete=1 where userid=@userid
end
else
begin
update madrakedaneshgahi set uniCertComplete=0 where userid=@userid
end
select * from users as t1
 left join userMessages as t2 on t1.id=t2.userid
   left join madrakedaneshgahi as t3 on t3.userid=t1.id
   left join zabanekhareji as t4 on t4.userid=t1.id
   left join interests as t5 on t5.userid=t1.id
   left join skills as t6 on t6.userid=t1.id
   left join jobresume as t7 on t7.userid=t1.id
   left join jobinterests as t8 on t8.userid=t1.id
   where t1.id=@userid
end
GO
/****** Object:  StoredProcedure [dbo].[updateunicertFromAdmin]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updateunicertFromAdmin]
@uniCert nvarchar(max),@uniCertext nvarchar(max),@uniName nvarchar(max),@majorName nvarchar(max),
 @tasviremadrak1 varbinary(max),@tasviremadrak2 varbinary(max),@tasviremadrak3 varbinary(max),@userid int
as
begin
declare @ifUserUniExist bit
select @ifUserUniExist=count(*) from madrakedaneshgahi where userid=@userid
if(@ifUserUniExist>0)
begin
update madrakedaneshgahi set uniCert=@uniCert,uniCertext=@uniCertext,
uniName=@uniName,majorName=@majorName where userid=@userid
end
else
begin
insert into madrakedaneshgahi (uniCert,uniCertext,uniName,majorName,userid)  values (@uniCert,@uniCertext,@uniName,@majorName,@userid)
end
if(@tasviremadrak1 is not null )
begin
update madrakedaneshgahi set tasviremadrak1=@tasviremadrak1 where userid=@userid
end
if(@tasviremadrak2 is not null )
begin
update madrakedaneshgahi set tasviremadrak2=@tasviremadrak2 where userid=@userid
end
if(@tasviremadrak3 is not null )
begin
update madrakedaneshgahi set tasviremadrak3=@tasviremadrak3 where userid=@userid
end
declare @countres int
select @countres=count(uniCertId) from madrakedaneshgahi where 
uniCertId is not null and uniCert is not null and
uniName is not null and majorName is not null and 
(tasviremadrak1 is not null or tasviremadrak2 is not null or tasviremadrak3 is not null) and userid=@userid
if(@countres>0)
begin
update madrakedaneshgahi set uniCertComplete=1 where userid=@userid
end
else
begin
update madrakedaneshgahi set uniCertComplete=0 where userid=@userid
end
select * from users as t1
 left join userMessages as t2 on t1.id=t2.userid
   left join madrakedaneshgahi as t3 on t3.userid=t1.id
   left join zabanekhareji as t4 on t4.userid=t1.id
   left join interests as t5 on t5.userid=t1.id
   left join skills as t6 on t6.userid=t1.id
   left join jobresume as t7 on t7.userid=t1.id
   left join jobinterests as t8 on t8.userid=t1.id
   where t1.id=@userid
end
GO
/****** Object:  StoredProcedure [dbo].[updatezabancert]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updatezabancert]
@zabanName1 nvarchar(max),@zabanName2 nvarchar(max),@readingLevel1 nvarchar(max),
@readingLevel2 nvarchar(max),@writingLevel1 nvarchar(max),@writingLevel2 nvarchar(max),
@dialogLevel1 nvarchar(max),@dialogLevel2 nvarchar(max),@listenLevel1 nvarchar(max),
@listenLevel2 nvarchar(max),@zabanCert1 varbinary(max),@zabanCert2 varbinary(max),
@userid int
as
begin
declare @count int
select @count=COUNT(zabanId) from zabanekhareji where userid=@userid
if(@count>0)
begin
update zabanekhareji set zabanName1=@zabanName1,
zabanName2=@zabanName2,
readingLevel1=@readingLevel1,
readingLevel2=@readingLevel1,
writingLevel1=@writingLevel1,
writingLevel2=@writingLevel2,
dialogLevel1=@dialogLevel1,
dialogLevel2=@dialogLevel2,
listenLevel1=@listenLevel1,
listenLevel2=@listenLevel2
where userid=@userid
end
else
begin
insert into zabanekhareji (zabanName1,
zabanName2,
readingLevel1,
readingLevel2,
writingLevel1,
writingLevel2,
dialogLevel1,
dialogLevel2,
listenLevel1,
listenLevel2,userid) values(@zabanName1,
@zabanName2,
@readingLevel1,
@readingLevel1,
@writingLevel1,
@writingLevel2,
@dialogLevel1,
@dialogLevel2,
@listenLevel1,
@listenLevel2,@userid)
end
if(@zabanCert1 is not null )
begin
update zabanekhareji set zabanCert1=@zabanCert1 where userid=@userid
end
if(@zabanCert2 is not null )
begin
update zabanekhareji set zabanCert2=@zabanCert2 where userid=@userid
end
declare @countres int
select @countres=count(zabanId) from  zabanekhareji where 
((zabanName1 is not null and readingLevel1 is not null and writingLevel1 is not null
and dialogLevel1 is not null and listenLevel1 is not null) or
(
zabanName2 is not null and 
readingLevel2 is not null and writingLevel2 is not null and dialogLevel2 is not null
and listenLevel2 is not null)) and userid=@userid
if(@countres>0)
begin
update zabanekhareji set zabancomplete=1 where userid=@userid
end
else
begin
update zabanekhareji set zabancomplete=0 where userid=@userid
end
select * from users as t1
 left join userMessages as t2 on t1.id=t2.userid
   left join madrakedaneshgahi as t3 on t3.userid=t1.id
   left join zabanekhareji as t4 on t4.userid=t1.id
   left join interests as t5 on t5.userid=t1.id
   left join skills as t6 on t6.userid=t1.id
   left join jobresume as t7 on t7.userid=t1.id
   left join jobinterests as t8 on t8.userid=t1.id
   where t1.id=@userid
end
GO
/****** Object:  StoredProcedure [dbo].[verifyJob]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[verifyJob]
@jobId int,@jobDateOfVerifyInPersian nvarchar(max),@result nvarchar(10) out
as
begin
declare @jobStatusCode int
select @jobStatusCode=jobStatusCode from jobs where id=@jobId
if(@jobStatusCode=0)
begin
update jobs set verified=1,jobStatusText='تایید شده و متتظر انتخاب کارجو ',jobStatusCode=1, jobDateOfVerify=getutcdate(), dateOfVerifyInPersian=@jobDateOfVerifyInPersian where id=@jobId
update employeeandjobrelation set jobSatusText='تایید شده و متتظر انتخاب کارجو',jobSatusCode=1 where jobId=@jobId
set @result='R0'
end
else
begin
set @result='R1'
end
end
GO
/****** Object:  StoredProcedure [dbo].[verifyPersonalInfo]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[verifyPersonalInfo]
@userId int
as
begin
declare @verifypersonal int
select @verifypersonal=verified from users where id=@userId
if(isnull(@verifypersonal,-1)<>1)
begin
update users set verified=1,score=ISNULL(score,0)+50 where id=@userId
end
end
GO
/****** Object:  StoredProcedure [dbo].[verifyrequest]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[verifyrequest]
@requestId int,@requestDateOfVerifyOrrejectInPersian nvarchar(max),@result nvarchar(10) out
as 
begin
declare @jobId int,@employerId int, @employeeId int,@jobOk int, @employeeOk bit,@employerOk bit,@employerblock bit,@employeeblock bit
select @jobId=jobId,@employerId=employerId,@employeeId=employeeID from employeeandjobrelation where id=@requestId
select @jobOk=jobStatusCode from jobs where id=@jobId
select @employeeOk=isnull(verified,0),@employeeblock=ISNULL(blocked,0) from users where id=@employeeId
select @employerOk=ISNULL(verified,0) ,@employerblock=ISNULL(blocked,0) from users where id=@employerId
if(@jobOk=1 and @employerOk=1 and @employeeOk=1 and @employeeblock<>1 and @employerblock<>1)
begin
update employeeandjobrelation set requestStatusText='تایید شده',jobSatusCode=3,jobSatusText='کارجو تعیین شده و در حال انجام', requestStatusCode=1,requestDateOfVerifyOrRejectInPersian=@requestDateOfVerifyOrrejectInPersian,requestDateOfVerifyOrReject=GETUTCDATE() where id=@requestId
update jobs set jobAcceptor=(select employeeID from employeeandjobrelation where id=@requestId),jobStatusText='کارجو تعیین شده و در حال انجام',jobStatusCode=3 where id=(select jobId from employeeandjobrelation where id=@requestId)
set @result='ok'
end
else
begin
set @result='notOk'
end
end
GO
/****** Object:  StoredProcedure [dbo].[verifyUpdatejobinterests]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[verifyUpdatejobinterests]
@userId int
as
begin
declare @verifiedinterest int
select @verifiedinterest=verified from jobinterests where userid=@userId
if(isnull(@verifiedinterest,-1)<>1)
begin
update jobinterests set verified=1 where userid=@userId
update users set score=ISNULL(score,0)+50 where id=@userId
end
end
GO
/****** Object:  StoredProcedure [dbo].[verifyUpdateJobResume]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[verifyUpdateJobResume]
@userId int
as
begin
declare @verifiedjobresume int
select @verifiedjobresume=verified from jobresume where userid=@userId
if(isnull(@verifiedjobresume,-1)<>1)
begin
update jobresume set verified=1 where userid=@userId
update users set score=ISNULL(score,0)+50 where id=@userId
end
end
GO
/****** Object:  StoredProcedure [dbo].[verifyUpdateSkills]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[verifyUpdateSkills]
@userId int
as
begin
declare @skillverified int
select @skillverified=verified from skills where userid=@userId
if(isnull(@skillverified,-1)<>1)
begin
update skills set verified=1 where userid=@userId
update users set score=ISNULL(score,0)+50 where id=@userId
end
end
GO
/****** Object:  StoredProcedure [dbo].[verifyUpdateUniCert]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[verifyUpdateUniCert]
@userId int
as
begin
declare @unicertcerified int
select @unicertcerified=verified from madrakedaneshgahi where userid=@userid
if(isnull(@unicertcerified,-1)<>1)
begin
update madrakedaneshgahi set verified=1 where userid=@userId
update users set score=ISNULL(score,0)+50 where id=@userId
end
end
GO
/****** Object:  StoredProcedure [dbo].[verifyUpdateZaban]    Script Date: 10/09/1402 05:54:41 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[verifyUpdateZaban]
@userId int
as
begin
declare @zabanverified int
select @zabanverified=verified from zabanekhareji where userid=@userId
if(isnull(@zabanverified,-1)<>1)
begin
update zabanekhareji set verified=1 where userid=@userId
update users set score=ISNULL(score,0)+50 where id=@userId
end
end
GO
USE [master]
GO
